<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Complements</title>

    <!-- jQuery library (served from Google) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="/js/jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="/css/jquery.bxslider.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <script src="js/complements.js"></script>
    <div class="outside">
      <p><span id="top-slider-prev"></span> | <span id="top-slider-next"></span></p>
    </div>
    <ul id="topsies">
      <li><img src="/images/hill_trees.jpg" /></li>
      <li><img src="/images/me_trees.jpg" /></li>
      <li><img src="/images/houses.jpg" /></li>
    </ul>
    <ul id="bottomsies">
      <li><img src="/images/hill_trees.jpg" /></li>
      <li><img src="/images/me_trees.jpg" /></li>
      <li><img src="/images/houses.jpg" /></li>
    </ul>
    <div class="outside">
      <p><span id="bottom-slider-prev"></span> | <span id="bottom-slider-next"></span></p>
    </div>
  </body>
</html>

